// ***********************
// Global
// **********************

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161724;
}
li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
